:root{
    --bgColor: #B2DFDB;
}
.searchDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--bgColor);
    gap: 20px;
    align-items: center;
}

.searchBox{
    width:50vw;
    height: 5vh;
    text-align: center;
}