.date{
width: 140px;
padding: 0.25rem;
}


.formBox{
    box-shadow: 3px 17px 24px 0px rgba(0, 29, 24, 0.549);
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 20px;
    padding: 100px;
    gap:40px

}

label{
    font-weight: bold;
}

form{
    
}