:root{
    --fontColor: #00695C;
    --bgHeaderColor:#B2DFDB;
}
.header{
    color: var(--fontColor);
    background-color: var(--bgHeaderColor); 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.hero{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    background: rgb(178,223,219);
    background: linear-gradient(275deg, rgba(178,223,219,1) 0%, rgba(0,77,64,1) 100%);

}
